
.errorMessage {
  font-size: 13px;
  color: red;
  font-weight: bold;
}

.inputCode {
  width: 60px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  padding: 3px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: width .35s ease-in-out;
  transition: width .3s ease-in-out;
}

.button {
  border-radius: 3px;
  padding: 6px 25px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.button.okButton {
  background-color: #4CAF50;
  color: white;
  width: 90px;
  height: 34px;
  float: center;
  border: 2px solid #4CAF50;
}

.button.okButton:hover {
  background-color: white;
  color: #4CAF50;
}

.button.saveButton {
  background: #4CAF50;
  margin-right: 20px;
  color: white;
  width: 100px;
  border: 2px solid #4CAF50;
}

.button.saveButton.yesButton {
  float: right;
  width: 50px;
  font-size: 12px;
  padding: 4px 14px;
  margin-right: 5px;
  display: inline-block;
}

.button.saveButton:hover {
  background-color: white;
  color: #4CAF50;
}

.button.cancelButton {
  background: #cccccc;
  padding: 6px 20px;
  color: #666;
  width: 100px;
  border: 2px solid #cccccc;
}

.button.cancelButton.noButton {
  float: right;
  width: 50px;
  font-size: 12px;
  padding: 4px 14px;
  display: inline-block;
}

.button.cancelButton:hover {
  background-color: white;
}

.well{
  width: 450px;
  height: 185px;
  margin: 300px auto;
  border: 0;
  border-radius: 1.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.saveSuccessMessage {
  text-align: center;
  font-size: 13px;
  color: green;
  font-weight: bold;
}

#Menu .form-control{
  min-height: 3em;
  width: 100%;
  margin: auto;
}

#Menu .item{
  margin: auto;
  width: 86%;
  margin-bottom: 10px;
  justify-content: center;
}

.container{
  width:85%;
  margin: auto;
}
