<div class="main-component">

  <div ng-hide="ctrl.isAuthenticated">
    <div class="loginMargin">
      Please enter your company code: <input class="inputCode" ng-model="code"/><br/>
      <div class="errorMessage" ng-show="ctrl.showError">
        {{ ctrl.errorMessage }}
      </div>
      <br/>
      <button class="button okButton" type="button" ng-click="ctrl.login(code)">OK</button>
    </div>
  </div>

  <div ng-show="ctrl.isAuthenticated">
    <div class="headMargin">
      <h1>Settings</h1>
    </div>

    <div class="divMargin">
      <div id="Menu">
        <div ng-repeat="(key, value) in ctrl.message track by $index">
          <input  id="{{key}}" type="text" class="inputText" value="{{value}}"/>
          <br />
        </div>
      </div> 

      <div class="saveSuccessMessage" ng-show="ctrl.showSaveSuccess">
        <br />
        {{ ctrl.saveSuccess }}
      </div>

      <br />
      <button type="button" class="button saveButton" ng-click="ctrl.saveConfirm()">Save</button>
      <button type="button" class="button cancelButton" ng-click="ctrl.cancelChanges()">Cancel</button>
      <br /><br /><br />
    </div> 
  </div>

</div>